:root {
    --background: hsl(228, 5%, 22%);
    --foreground: hsl(200, 12%, 95%);
    --z-0: hsl(228, 5%, 32%);
    --z-1: hsl(228, 5%, 42%);
    --z-2: hsl(228, 5%, 52%);
    --z-3: hsl(228, 5%, 62%);
    --border-color: hsl(228,5%,12%);
}